<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <div th:fragment="header">
              <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                        </div>
                        <div class="row text-right">
                            <ul class="nav navbar-nav navbar-right">
                                <ul class="nav navbar-nav">
                                    <li><a>
                                        <span th:if="${@environment.getActiveProfiles()[0] != 'production'}" th:text="'v.' + ${@environment.getProperty('info.build.version')}"></span>
                                        <span th:if="${@environment.getActiveProfiles()[0] == 'production'}" class="hidden" th:text="'v.' + ${@environment.getProperty('info.build.version')}"></span>
                                    </a></li>
                                </ul>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="#{i18n.language}"></span> <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="?lang=de"><span th:text="#{i18n.locale.german}"></span></a></li>
                                        <li><a href="?lang=en"><span th:text="#{i18n.locale.english}"></span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
        <br/>
    </div>
</div>
</body>
</html>

