<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Leaf</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Customers</h2>

    <form class="form-horizontal" th:action="${createLink.href}"  th:object="${customer}" method="post">
        <fieldset>

            <!-- Form Name -->
            <legend>Add Customer</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="firstname">Firstname</label>
                <div class="col-md-4">
                    <input id="firstname" name="firstname" type="text" placeholder="enter your firstname" class="form-control input-md" th:field="*{firstname}" />
                </div>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </div>




            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lastname">Lastname</label>
                <div class="col-md-4">
                    <input id="lastname" name="lastname" type="text" placeholder="enter your lastname" class="form-control input-md" th:field="*{lastname}" />
                </div>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="addCustomer"></label>
                <div class="col-md-4">
                    <button id="addCustomer" name="addCustomer" class="btn btn-primary">Add Customer</button>
                </div>
            </div>

        </fieldset>
    </form>

    <!-- Customer Table only show if customers size '> 0' -->
    <!--<table id="customers" class="table table-striped table-bordered" cellspacing="0" width="100%" th:if="${customers.size() > 0}">
        <span th:text="'Total customers ' + ${customers.size()}"></span>
        <thead>
        <tr>
            <th>Fistname</th>
            <th>Lastname</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th><i>Fistname</i></th>
            <th><i>Lastname</i></th>
        </tr>
        </tfoot>
        <tbody>
        <tr th:each="c:${customers}">
            <td th:text="${c.firstname}" />
            <td th:text="${c.lastname}" />
        </tr>
        </tbody>
    </table>-->

</div>
</body>
</html>