<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Leaf</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2 th:text="#{app.customer.title}">Customers</h2>

    <form id="togglingForm" class="form-horizontal" th:action="${createLink.href}"  th:object="${customer}" method="post">
        <fieldset>
            <!-- Form Name -->
            <legend th:text="#{app.customer.add}">Add Customer</legend>

            <!-- Text input firstname -->
            <div class="form-group">
                <label class="col-md-4 control-label" th:text="#{app.customer.firstname}">First Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="firstname"  name="firstname" placeholder="First Name" class="form-control"  type="text" />
                    </div>
                </div>
            </div>
            <!-- Text input lastname -->
            <div class="form-group">
                <label class="col-md-4 control-label" th:text="#{app.customer.lastname}" >Last Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="lastname" name="lastname" placeholder="Last Name" class="form-control"  type="text" />
                    </div>
                </div>
            </div>
            <!-- Text input address-->
            <div class="form-group">
                <label class="col-md-4 control-label" th:text="#{app.customer.address}">Address</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input id="address" name="address" placeholder="Address" class="form-control" type="text" />
                    </div>
                </div>
            </div>
            <!-- Text input city -->
            <div class="form-group">
                <label class="col-md-4 control-label" th:text="#{app.customer.city}">City</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input id="city" name="city" placeholder="City" class="form-control"  type="text" />
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="addCustomer"></label>
                <div class="col-md-4">
                    <button id="addCustomer" name="addCustomer" class="btn btn-primary" type="submit">Add Customer</button>
                </div>
            </div>
        </fieldset>
    </form>


</div>
</body>
</html>